/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "./styles/fonts.scss";

@theme {
  --color-red-700: #c3373d;
  --color-red-800: #a62f34;
  --color-neutral-800: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  direction: rtl;

  background-color: var(--color-neutral-800);
  color: white;
  font-family: Estedad;
  --font-family: Estedad;
}
