/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "./styles/fonts.scss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  direction: rtl;

  background-color: var(--color-neutral-800);
  color: white;
  font-family: Estedad;
  --font-family: Estedad;
}
